In [55]:
import csv
from pathlib import Path
csvpath = Path('./budget_data.csv')

In [56]:
import pandas as pd
df = pd.read_csv(csvpath)
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [57]:
#Loop through data
row_list = []
month = []
for index, row in df.iterrows():
    row_list.append(int(row[1]))
    month.append(row[0])

In [62]:
#calculate total month
print("Total Month:", len(month))

Total Month: 86

In [58]:
#calculate the total profit/Losses
Profit_loss= df['Profit/Losses'].sum()

In [59]:
print("Total: $",Profit_loss)

Total: $ 38382578

In [60]:
#calculate average change in Profit/Losses
changes_in_rev =[]
for i in range(1, len(row_list)):
 changes_in_rev.append((int(row_list[i])- int(row_list[i-1])))
average = sum(changes_in_rev)/len(changes_in_rev)

In [63]:
print("Average Change: ${:.2f}".format(average))

Average Change: $-2315.12

In [78]:
#calculate greatest increase in profits
profit_inc = max(changes_in_rev)
print(f"Greatest Increase in Profits: {str(month[changes_in_rev.index(max(changes_in_rev))+1])} (${profit_inc})")

Greatest Increase in Profits: Feb-2012 ($1926159)

In [81]:
#calculate decrease in losses
loss_inc = min(changes_in_rev)
print(f"Greatest decrease in Losses: {str(month[changes_in_rev.index(min(changes_in_rev))+1])} (${loss_inc})" )

Greatest decrease in Losses: Sep-2013 ($-2196167)

In [103]:
final = open("textfile.txt", "w")
final.write(f"Financial Analysis \n")
final.write(f"---------------------------- \n")
final.write("Total Months: " + str(len(month)) + "\n")
final.write("Average Change: ${:.2f}".format(average) + "\n")
final.write(f"Greatest Increase in Profits: {str(month[changes_in_rev.index(max(changes_in_rev))+1])} (${profit_inc})\n")  
final.write(f"Greatest decrease in Losses: {str(month[changes_in_rev.index(min(changes_in_rev))+1])} (${loss_inc})\n")                                           
final.close()